Q1. Create one variable containing following type of data:

In [1]:
A=['Sam',[1,2,3,45],6.03,('verma',14)]

In [3]:
A

['Sam', [1, 2, 3, 45], 6.03, ('verma', 14)]

Q2. Given are some following variables containing data:

In [4]:
var1 = ''

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' , 'ML' , 'Python' ]

var4 = 1.

In [6]:
type(var1)

str

In [8]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

In [11]:
2/4  #used for divide

0.5

In [12]:
5%2  #used for find remainder

1

In [15]:
9//2 #floor division round of the result to nearest whole no.

4

In [16]:
2**3 #used as power base**2 = base*base

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
a=[2,3,4,"sam",[34.8, "verma"], True, (6,7,9), 66.78, False, {2,7,6}]

In [28]:
for i in a:
    print(i,"\t\t\t",type(i))

2 			 <class 'int'>
3 			 <class 'int'>
4 			 <class 'int'>
sam 			 <class 'str'>
[34.8, 'verma'] 			 <class 'list'>
True 			 <class 'bool'>
(6, 7, 9) 			 <class 'tuple'>
66.78 			 <class 'float'>
False 			 <class 'bool'>
{2, 6, 7} 			 <class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
A=int(input("Enter the dividend(A):"))
B=int(input("Enter the dividend(B):"))
count=0
while (A%B==0):
  print("After dividing ",A," by ",B)
  A=A//B # A is divided by B
  print("we get:",A)
  count+=1

if count>0:
  print("A is divisible by B")
  print("We can divide A by B ,",count,"times")
else:
  print("A is Not divisible by B")

Enter the dividend(A): 32
Enter the dividend(B): 2

After dividing  32  by  2
we get: 16
After dividing  16  by  2
we get: 8
After dividing  8  by  2
we get: 4
After dividing  4  by  2
we get: 2
After dividing  2  by  2
we get: 1
A is divisible by B
We can divide A by B , 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [5]:
num_elements = int(input("Enter the number of elements: "))

user_list = []

for i in range(num_elements):


  valid_input = False
  
  while not valid_input:
    value = input("Enter element #{}: ".format(i+1))
    if value.isdigit():
      user_list.append(int(value))
      valid_input = True
    else:
      print("Wrong input! Please enter an integer.")

print("List of integer values:", user_list)

for i in user_list:
  if (i%3==0):
    print(i," is divisible by 3")
  else:
    print(i," is not divisible by 3")

Enter the number of elements:  25
Enter element #1:  1
Enter element #2:  2
Enter element #3:  3
Enter element #4:  4
Enter element #5:  5
Enter element #6:  6
Enter element #7:  7
Enter element #8:  8
Enter element #9:  9
Enter element #10:  0
Enter element #11:  10
Enter element #12:  11
Enter element #13:  12
Enter element #14:  13
Enter element #15:  14
Enter element #16:  15
Enter element #17:  16
Enter element #18:  17
Enter element #19:  18
Enter element #20:  19
Enter element #21:  20
Enter element #22:  21
Enter element #23:  24
Enter element #24:  27
Enter element #25:  30

List of integer values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 27, 30]
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
0  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
24  is divisible by 3
27  is divisible by 3
30  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
lst = [1,2,3,4,5]
tupl = (1,2,3,4,5)

lst[3] = 99 #it will successfully change
tupl[3] = 99 #output: tuple' object does not support item assignment

#therefore we cannot change the existing values in immutable objects, and also we cannot add new values in existing tuple objects.

TypeError: 'tuple' object does not support item assignment